block vars
	- var menuTransparent = false

mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="/assets/img/icons.svg#icon-" + name)

mixin teslaItem(img, name, descr, oldprice, price,indx)
	- indx ? indx = 'swiper-slide' : indx = 'col-sm-4 col-xs-6'
	.tesla-item(class=indx)
		.tesla-item__star
			+icon('star','')
		.tesla-item__content
			img(src="/assets/img" + img)
			.tesla-item__text
				.tesla-item__text__wrap
					a(href="#")
						.tesla-item__text__title= name
						.tesla-item__text__description= descr
						.tesla-item__text__price
							.tesla-item__text__price-old= oldprice
							.tesla-item__text__price-cur= price
								=" "
								span Р
					.tesla-item__text__buttons
						a(href="#").tesla-item__text__buttons-open Просмотр
						.tesla-item__text__buttons-buy Купить


doctype html
html(lang="ru")

	head
		meta(charset="UTF-8")
		link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700&amp;subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(href="/assets/js/slick/slick.css" rel="stylesheet")
		link(rel="stylesheet" href="/assets/js/swiper/swiper.min.css")
		link(href="/css/script.min.css" rel="stylesheet")
		link(href="/assets/js/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet")
		block appStyles

		meta(name="viewport" content="width=device-width")
		title Title
	body

		div.page-preloader
			div(class="preloader")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")

		.wrapper
			include ./menu
			block menu

			block content

			include ./footer
			block footer

		.darkness

		script(src='/assets/js/jquery/jquery.min.js')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		script(src='/assets/js/masonry/masonry.pkgd.min.js')
		script(src='/assets/js/slick/slick.min.js')
		script(src='/assets/js/swiper/swiper.min.js')
		script(src="/assets/js/swiper-thumbnails/swiper.thumbnails.js")
		script(src='/assets/js/svg4everybody/svg4everybody.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.3/ofi.min.js")
		script(src="https://cdn.rawgit.com/scottjehl/picturefill/3.0.2/dist/picturefill.min.js")
		script(src='/assets/js/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js')
		script(src='/assets/js/jquery-maskedinput/jquery.maskedinput.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js')
		script(src='/assets/js/scrollmagic/ScrollMagic.min.js')
		script(src='/assets/js/scrollmagic/animation.gsap.min.js')
		script(src='/assets/js/scrollreveal/scrollreveal.min.js')
		script(src='/assets/js/current-device/current-device.min.js')
		script(src='/js/script.min.js')
		block appScripts