nav.navigation
	button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
		span(class="sr-only") Toggle navigation
		span(class="icon-bar")
		span(class="icon-bar")
		span(class="icon-bar")
	.navigation-logo
		a(href="/")
			img(
			src="/assets/img/logo.png"
			)
	ul.left-menu
		li.language-switcher
			span.language-switcher-current RU
			ul.language-switcher-dropdown
				li
					a(
					href="#"
					) Уфе
				li
					a(
					href="#"
					) Уфе
				li
					a(
					href="#"
					) Уфе
		li.delivery-city Доставка в
			span.delivery-city-current
				span
				|  Москве
			ul.delivery-city-dropdown
				li
					a(
					href="#"
					) Уфе
				li
					a(
					href="#"
					) Уфе
				li
					a(
					href="#"
					) Уфе
	ul.main-nav
		li
			a(href="#") МАГАЗИН
		li
			a(href="#") СОТРУДНИЧЕСТВО
		li
			a(href="#") КОНТАКТЫ

	a.phone(href="tel:8 800 123-80-76") 8 800 123-80-76

	.basket.active
		img.basket-icon(src="/assets/img/shopping-bag.png")
		.basket-count 2
		ul.basket-list
			li